GIMP
libvirt
xarchiver
xfce4
spotify
polychromatic
blender
btop
dconf
glib-2.0
go
heroic
htop
i3
ibus
openrazer
org.coolercontrol.CoolerControl
pulse
simple-update-notifier
spicetify
systemd
Thunar
vesktop
VSCodium
fancontrol-gui
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale